{% include 'themes/jks/templates/header.twig' %}




<div class="container min-height">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ page.content }}

            <hr>
            
           
            <div class="row">
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {{ page.client_block_1 }}
                </div>
            </div>
            <br />

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {{ page.client_block_2 }}
                </div>


            </div>
            
                

            <div class="row"> 
                {{ page.client_logo }}
            </div>

        </div>
    </div>   
                
<hr class="featurette-divider">

</div>    




{% include 'themes/jks/templates/footer.twig' %}